<div class="row">
  <div class="col-sm-6">
    <h1>Investment_recommendations</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to new_investment_recommendation_path, class: 'btn btn-primary' do %>
    Add New Investment recommendation
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>


        <th>Private</th>
        <th>User</th>
        <th>Tkrsymbol</th>
        <th>Body</th>

        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @investment_recommendations.each do |investment_recommendation| %>
      <%= content_tag :tr, id: dom_id(investment_recommendation), class: dom_class(investment_recommendation) do %>


      <td><%= investment_recommendation.private %></td>
      <td><%= investment_recommendation.user.first_name %> <%=investment_recommendation.user.last_name %></td>
      <td><%= investment_recommendation.tkrsymbol %></td>
      <td><%= investment_recommendation.body %></td>


      <td><%= link_to 'Show', investment_recommendation %></td>

      <% end %>
      <% end %>
    </tbody>
  </table>
</div>